@keyframes spin {                                               /* Defina la animación de "spin" utilizada por el ícono de carga. */
    0% { transform: rotate(0deg); }                             /* Comienza con 0 grados de rotación. */
    100% { transform: rotate(360deg); }                         /* Finaliza con 360 grados de rotación. */
}

html {
    scrollbar-gutter: stable both-edges;                        /* Agrega espacio para la barra de desplazamiento para que no cambie el ancho de la página si aparece. */
}

body {
    background-color: #f0f0f0;                                /* Establece el color de fondo de la página. */
    font-family: Arial, Helvetica, sans-serif;                  /* Se utilizará la fuente "Arial". Si no está disponible, se utilizará "Helvetica". Si no está disponible, se elegirá una fuente "sans-serif". */
    margin: 0px;                                                /* Establece todos los márgenes en 0px. (Esto elimina el margen predeterminado). */
}

body h1 {
    color: black;                                             /* Establece el color del texto <h1>. */
    font-size: 96px;                                            /* Establece el tamaño de fuente del encabezado <h1>. */
    text-align: center;                                         /* Alinea el <h1> en el centro de la página horizontalmente. */
    margin-top: 160px;                                          /* Establece un margen superior de 160 px sobre <h1>. */
    margin-bottom: 32px;                                        /* Establece un margen inferior de 32px debajo de <h1>. */
}

search {
    width: 352px;                                               /* Establece el ancho de <search> en 352 px. */
    margin: auto;                                               /* Esto centra el elemento <search> horizontalmente en la página. */
}

input {
    /* Entrada de Búsqueda */
    background-color: white;                                  /* Establece el color de fondo de la <input>. */
    height: 48px;                                               /* Establece la altura de la <input>. */
    font-size: 1.2em;                                           /* Establece el tamaño de fuente de la <input>. */

    /* \\\\\\\\\\ Editar aquí ////////// - Tarea: agregar un radio de borde a la entrada de búsqueda. */
    border-radius: 24px;                                        /* Crea esquinas redondeadas para la <input>. */
    /* ////////// Editar aquí \\\\\\\\\\ */

    outline: none;                                              /* Desactiva el contorno cuando se hace clic en <input>. */
    border: none;                                               /* Desactiva la línea de borde en <input>. */
    padding-left: 56px;                                         /* Mueve el texto dentro de <input> más allá de la derecha de la lupa. (16px de relleno + 24px de ancho del icono + espaciado de 16px = 56px) */
    width: 296px;                                               /* Establece el ancho del área de entrada de texto. (352 px de ancho total - 56 px de relleno izquierdo = 296 px) */

    /* \\\\\\\\\\ Editar aquí ////////// - Tarea: agregar una sombra a la entrada de búsqueda. El patrón es "desplazamiento h" "desplazamiento v" "desenfoque" "color" */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);              /* Crea una sombra alrededor del elemento. Ajustado 0px horizontalmente (de izquierda a derecha), 2px verticalmente (de arriba a abajo), desenfoque de 4px, 25% de opacidad.*/
    /* ////////// Editar aquí \\\\\\\\\\ */

    /* Icono de lupa */
    /* \\\\\\\\\\ Editar aquí ////////// - Tarea: Agregar la ruta del archivo magnifying-glass-solid.svg. */
    background-image: url('icons/magnifying-glass-solid.svg');  /* Esta es la imagen "magnifying-glass-solid.svg" que se utilizará. */
    /* ////////// Editar aquí \\\\\\\\\\ */
    background-size: 24px;                                      /* Establece el tamaño del icono en 24px. */
    background-repeat: no-repeat;                               /* El icono no debería repetirse. */
    background-position: 16px 12px;                             /* Esto ajusta la posición del icono. 16px horizontalmente (de izquierda a derecha). 12px verticalmente (de arriba a abajo). */
}

#resultDiv {
    margin-top: 32px;                                           /* Establece un margen superior de 32 píxeles sobre el área <div> del resultado. */
    margin-bottom: 32px;                                        /* Establece un margen inferior de 32 píxeles debajo del área <div> del resultado. */
    width: 100%;                                                /* El resultado <div> ancho debe llenar completamente el ancho de la página (100%). */
    display: flex;                                              /* Establece este <div> como un contenedor "flexbox", para que su contenido pueda alinearse. */
    justify-content: center;                                    /* Centrar las 3 tarjetas div horizontalmente dentro del resultado <div>. */
}

.result-item-card {
    padding-top: 16px;                                          /* Utilice relleno para crear espacio en la parte superior de la tarjeta. */
    vertical-align: top;                                        /* Hacer que las tarjetas se alineen con la parte superior de su padre <div>. */

    /* \\\\\\\\\\ Editar aquí ////////// - Tarea (Lección 4): Controlar el ancho de cada tarjeta. 736 px para una sola tarjeta, 352 px para 3 tarjetas. */
    width: 352px;                                               /* Establece el ancho de cada tarjeta <div> */
    /* ////////// Editar aquí \\\\\\\\\\ */

    margin-left: 16px;                                          /* Establece un margen izquierdo (espaciado) de 16 píxeles para cada tarjeta <div>. */
    margin-right: 16px;                                         /* Establece un margen derecho (espaciado) de 16 píxeles para cada tarjeta <div>. */
    display: flex;                                              /* Establece cada tarjeta <div> como un contenedor "flexbox", para que su contenido pueda alinearse. */
    flex-direction: column;                                     /* Alinear el contenido de la tarjeta verticalmente, en una columna. */
    justify-content: space-between;                             /* Distribuir los elementos de la tarjeta uniformemente en el eje vertical. */

    background-color: white;                                  /* Establece el color de fondo */
    color: black;                                             /* Establece el color del texto */
    border-radius: 24px;                                        /* Establece el radio del borde de cada tarjeta para crear esquinas redondeadas. (Esto coincide con la búsqueda <input>.) */
    /* \\\\\\\\\\ Editar aquí ////////// - Tarea: agregar una sombra a la entrada de búsqueda. El patrón es "desplazamiento h" "desplazamiento v" "desenfoque" "color" */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);              /* Crea una sombra alrededor de cada tarjeta <div>. Ajustado 0px horizontalmente (de izquierda a derecha), 2px verticalmente (de arriba a abajo), desenfoque de 4px, 25% de opacidad. */
    /* ////////// Editar aquí \\\\\\\\\\ */
}

.result-item-header h2 {
    margin: 0px;                                                /* Elimina el margen predeterminado sobre los elementos <h2> dentro de cada elemento <div> de la tarjeta. */
    font-size: 1.8em;                                           /* Haz el encabezado de la tarjeta <div> <h2> un poco más grande. (Multiplica em estándar (16px) por 1.8). */
    color: black;                                             /* Establecer el color del texto */
    padding-bottom: 32px;                                       /* Usa relleno para crear espacio debajo del elemento <h2>. */
    text-align: center;                                         /* Alinea el encabezado <h2> de la tarjeta horizontalmente (de izquierda a derecha) en la página. */
}

.result-item {
    color: black;                                             /* Establecer el color del texto */
    margin-top: 0px;                                            /* Establece un relleno de 0px encima de los elementos del elemento de resultado. */
    margin-right: 24px;                                         /* Establece un relleno de 24 píxeles a la derecha de los elementos del elemento de resultado. */
    margin-bottom: 24px;                                        /* Establece un relleno de 24 píxeles debajo de los elementos del elemento de resultado. */
    margin-left: 24px;                                          /* Establece un relleno de 24 píxeles a la izquierda de los elementos del elemento de resultado. */
}

.loading-icon {
    animation: spin 2s linear infinite;                         /* Aplicar la animación "spin" (definida en la parte superior de este archivo). La duración es de 2 segundos. Función de relajación "Lineaer". Haz la animación un número infinito de veces. */
    margin-top: 64px;                                           /* Añade un margen superior de 64px encima del icono para que aparezca más abajo en la página. */
}

.p {
    margin: 0px;                                                /* La API de la Biblia coloca los versículos dentro de etiquetas <p class="p"> que tienen márgenes predeterminados, por lo que eliminamos los márgenes predeterminados para la clase "p". */
}