@keyframes spin {                                               /* Define the "spin" animation used by the loading-icon. */
    0% { transform: rotate(0deg); }                             /* Start with 0 degrees of rotation. */
    100% { transform: rotate(360deg); }                         /* End with 360 degress of rotation. */
}

html {
    scrollbar-gutter: stable both-edges;                        /* Add space for the scrollbar so that it doesn't change the page width if it appears. */
}

body {
    background-color: lightgrey;                              /* Set the background color for the page. */
    font-family: Arial, Helvetica, sans-serif;                  /* "Arial" font will be used. If unavailable, "Helvetica" will be used. If unavailable, a "sans-serif" font will be picked. */
    margin: 0px;                                                /* Set all margins to 0px. (This removes the default margin.) */
}

body h1 {
    color: black;                                             /* Set the <h1> Text Color. */
    font-size: 96px;                                            /* Set the font size of <h1> Header. */
    text-align: center;                                         /* Align the <h1> in the center of the page horizontally. */
    margin-top: 160px;                                          /* Set a 160px top margin above the <h1>. */
    margin-bottom: 32px;                                        /* Set a 32px bottom margin below below <h1>. */
}

search {
    width: 352px;                                               /* Set the <search> width to 352px. */
    margin: auto;                                               /* This centers the <search> element horizontally on the page. */
}

input {
    /* Search Input */
    background-color: white;                                  /* Set the background color of the <input>. */
    height: 48px;                                               /* Set the height of the <input>. */
    font-size: 1.2em;                                           /* Set the font size of the <input>. */
    border-radius: 24px;                                        /* Create rounded corners for the <input>. */
    outline: none;                                              /* Turn off the outline when the <input> is clicked. */
    border: none;                                               /* Turn off the border line on the <input>. */
    padding-left: 56px;                                         /* Move the text inside the <input> past the right of the magnifying glass. (16px of padding + 24px icon width + 16px spacing = 56px) */
    width: 296px;                                               /* Set the width of text input area. (352px total width - 56px left-padding = 296px) */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);              /* Create a shadow around the element. Adjusted 0px horizontally (left to right), 2px veritically (top to bottom), 4px blur, 25% opacity. */

    /* Magnifying Glass Icon. */
    background-image: url('icons/magnifying-glass-solid.svg');  /* This is the magnifying-glass-solid.svg image to use. */
    background-size: 24px;                                      /* Set the size of the icon to 24px. */
    background-repeat: no-repeat;                               /* The icon should not repeat. */
    background-position: 16px 12px;                             /* This adjusts the position of the icon. 16px horizontally (left to right). 12px vertically (top to bottom). */
}

#resultDiv {
    margin-top: 32px;                                           /* Set a 32px top margin above the result <div> area. */
    margin-bottom: 32px;                                        /* Set a 32px bottom margin below the result <div> area. */
    width: 100%;                                                /* The result <div> width should fill the width of the page completely (100%). */
    display: flex;                                              /* Set this <div> as a "flexbox" container, so that its contents can be aligned. */
    justify-content: center;                                    /* Center the 3 card divs horizontally inside the result <div>. */
}

.result-item-card {
    vertical-align: top;                                        /* Make the cards align to the top of their parent <div>. */
    width: 352px;                                               /* Set the width of each card <div> to be 352px. (The same width as the <search> element.) */
    margin-left: 16px;                                          /* Set a 16px left margin (spacing) for each card <div>. */
    margin-right: 16px;                                         /* Set a 16px right margin (spacing) for each card <div>. */
    display: flex;                                              /* Set each each card <div> as a "flexbox" container, so that its contents can be aligned. */
    flex-direction: column;                                     /* Align card contents vertically, in a column. */
    justify-content: space-between;                             /* Distribute card items evenly on the vertical axis */

    background-color: white;                                  /* Set the background color of each card. */
    border-radius: 24px;                                        /* Set the border radius for each card, to create rounded corners. (This matches the search <input>.) */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);              /* Create a shadow around each card <div>. Adjusted 0px horizontally (left to right), 2px veritically (top to bottom), 4px blur, 25% opacity. */
}

.result-item-header h2 {
    margin: 0px;                                                /* Remove the default margin above <h2> elements inside each card <div> item. */
    font-size: 1.8em;                                           /* Make the card <div> <h2> header slightly bigger. (Multiply standard em (16px) by 1.8). */
    padding-top: 24px;                                          /* Use padding to create space above the <h2> element. */
    padding-bottom: 32px;                                       /* Use padding to create space below the <h2> element. */
    text-align: center;                                         /* Align the <h2> header of the card horizontally (left to right) on the page. */
}

.result-item {
    margin-top: 0px;                                            /* Set 0px padding above result-item elements. */
    margin-right: 24px;                                         /* Set 24px padding to the right of result-item elements. */
    margin-bottom: 24px;                                        /* Set 24px padding below result-item elements. */
    margin-left: 24px;                                          /* Set 24px padding to the left of result-item elements. */
}

.loading-icon {
    animation: spin 2s linear infinite;                         /* Apply the "spin" animation (defined at the top of this file). Duration is 2 seconds. "Lineaer" easing-function. Do the animation an infinite number of times. */
    margin-top: 64px;                                           /* Add a 64px top margin above the icon so that it appears further down on the page. */
}

.p {
    margin: 0px;                                                /* The Bible API puts the verses inside <p class="p"> tags which have default margins, so we remove the default margins for the "p" class. */
}